@model Shocker_Project.Models.ClientCases

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>ClientCases</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="CaseId" />
            <div class="form-group">
                <label asp-for="QuestionCategoryId" class="control-label"></label>
                <select asp-for="QuestionCategoryId" class="form-control" asp-items="ViewBag.QuestionCategoryId"></select>
                <span asp-validation-for="QuestionCategoryId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserAccount" class="control-label"></label>
                <select asp-for="UserAccount" class="form-control" asp-items="ViewBag.UserAccount"></select>
                <span asp-validation-for="UserAccount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AdminAccount" class="control-label"></label>
                <select asp-for="AdminAccount" class="form-control" asp-items="ViewBag.AdminAccount"></select>
                <span asp-validation-for="AdminAccount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Status" class="control-label"></label>
                <input asp-for="Status" class="form-control" />
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CloseDate" class="control-label"></label>
                <input asp-for="CloseDate" class="form-control" />
                <span asp-validation-for="CloseDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Reply" class="control-label"></label>
                <input asp-for="Reply" class="form-control" />
                <span asp-validation-for="Reply" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

