@{
    ViewData["Title"] = "客戶問題";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
@section Styles
    {
    <style>
        .Replybod {
            border: 1px solid black;
            border-radius: 20px;
        }

        .ReplyMode {
            border: 1px white solid;
            box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
            -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
            -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
        }
    </style>
}

<h1 class="text-white">客戶問題</h1>
<div class="container-fluid py-4" id="app">
    <div class="row" v-if="EditStatu">
        <div class="col-12">
            <div class="card mb-4">
                <div class="card-header pb-0">
                    <h3>問題表</h3>
                </div>
                <div class="card-body px-0 pt-0 pb-2">
                    <div class="table-responsive p-0">
                        <table class="table align-items-center mb-0" id="CustomerReplyDT">
                            <thead>
                                <tr class="text-white" >
                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">問題類別 </th>
                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">客戶資訊</th>
                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">結案時間</th>
                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7"> 操作</th>
                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">狀態</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-for="item in QA">
                                    <template v-if="!EditStatu">
                                        <th>
                                            <div class="d-flex px-2 py-1">
                                                <div class="d-flex flex-column justify-content-center">
                                                    <p v-if="item.QuestionCategoryId==1" class="text-xs font-weight-bold mb-0">帳戶問題</p>
                                                    <p v-if="item.QuestionCategoryId==2" class="text-xs font-weight-bold mb-0">付款問題</p>
                                                    <p v-if="item.QuestionCategoryId==3" class="text-xs font-weight-bold mb-0">退款問題</p>
                                                    <p v-if="item.QuestionCategoryId==4" class="text-xs font-weight-bold mb-0">更改出貨地址</p>
                                                    <p v-if="item.QuestionCategoryId==5" class="text-xs font-weight-bold mb-0">其他類別</p>
                                                </div>
                                            </div>
                                        </th>
                                        <td>
                                            <p class="text-xs font-weight-bold mb-0">{{item.UserAccount}}</p>
                                            @*<p class="text-xs text-secondary mb-0">UserEmail</p>*@
                                        </td>
                                        <td class="align-middle">
                                            <p class="text-xs font-weight-bold mb-0">{{item.CloseDate}}</p>
                                        </td>
                                        <td class="align-middle text-center">
                                            <span class="text-secondary text-xs font-weight-bold">

                                                <a asp-action="Edit" class="btn btn-info btn-sm" asp-controller="CustomerReply" asp-area="admin" asp-route-id="id" v-on:click="Edit(item)">Edit</a>


                                            </span>
                                        </td>
                                        <td class="align-middle text-center text-sm">
                                            <span v-if="item.Status=='cc0'" class="badge badge-sm bg-gradient-danger">未回應</span>
                                            <span v-if="item.Status=='cc1'" class="badge badge-sm bg-gradient-success">已回應</span>
                                        </td>
                                    </template>
                                   
                                </tr>
                                

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<template v-else>
    <tr>
        <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">客戶問題</th>
        <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Reply</th>
        <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">操作</th>
    </tr>
    <tr>
        <td>
            @*要找到 CaseId的DC*@
            <div v-model="EditDS">這裡回復</div>
        </td>
        <td>
            <textarea v-bind:class="Reply" style="resize:none" placeholder="在此輸入回覆內容" rows="10" cols="70"></textarea>
        </td>
        <td>
            <button v-on:click="ReplyQA(test.id)">回覆</button>
            <button v-on:click="Edit(item.CaseId)">上一頁</button>
        </td>
    </tr>
</template>

@section Scripts{

    <script>
        var VueApp = {
            data() {
                return {
                    QA: [],
                    Account: 'Admin1',
                    Reply: '',
                    Descipte: [],
                    EditStatu: true,
                    nowCaseID: '',
                    EditDS: '',
                };

            },
            mounted: function () {
                this.GetQA();
            },
            methods: {
                GetQA: function () {
                    var _this = this;
                    axios.post(`${window.location.origin}/Admin/CustomerReply/GetQA`)
                        .then(response => { _this.QA = response.data })
                },

                ReplyQA: function () {
                    var _this = this;
                    var ccvm = {};
                    ccvm.CaseId = _this.nowCaseId
                    ccvm.AdminAccount = _this.Account;
                    ccvm = _this.Reply;
                    axios.post(`${window.location.origin}/Admin/CustomerReply/ReplyQA`, ccvm)
                        .then(response => { _this.Descipte = response.data })
                },
                FilterQA: function (flt) {
                    var _this = this;

                    axios.get(`${window.location.origin}/Admin/CustomerReply/FilterQA`)
                        .then(res => { _this.Filter = response.data })
                },
                Edit: function (item) {
                    var _this = this;
                    console.log(item)
                    _this.EditStatu = false;


                }


            },

        }
        var app = Vue.createApp(VueApp).mount('#app');



    </script>
    }
