@model IEnumerable<Shocker_Project.Models.ClientCases>

<div class="container-fluid py-4">
    <div class="row">
        <div class="col-12">
            <div class="card mb-4">
                <div class="card-header pb-0">
                    <h3>問題表</h3>
                </div>
                <div class="card-body px-0 pt-0 pb-2">
                    <div class="table-responsive p-0">
                                 
                        @Html.DisplayNameFor(model => model.Reply)
                        @Html.DisplayNameFor(model => model.Description) 我想另外做一頁
                       <form asp-for>
                            <div class="form-group">
                                <label for="exampleFormControlTextarea1">Reply</label>
                                <textarea class="form-control" id="exampleFormControlTextarea1" name="feedback" rows="3" placeholder="回覆在這裡"></textarea>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>