@model Shocker_Project.ViewModels.UserViewModel
@section Styles
{
}

<div id="app" class="container">
	@*未編輯的頁面*@
	<div class="mb-3 row">
		<label for="staticPicture" class="col-sm-2 col-form-label">頭像</label>
		<div class="col-sm-10">
			<img style="width:250px;height:250px" :src="picture" />
			<input type="file" @@change="selectpicture" />
			<button type="button" class="btn btn-outline-success" @@click="uploadpicture">上傳</button>
		</div>
	</div>

	<hr style="height: 3px;border-color: chartreuse;background-color: chartreuse" />

	<template v-if="Edit==false">
		<div class="mb-3 row">
			<label for="staticAccount" class="col-sm-2 col-form-label">帳號</label>
			<div class="col-sm-10">
				<input type="text" readonly class="form-control-plaintext" id="staticAccount" v-model="account">
			</div>
		</div>

		<div class="mb-3 row">
			<label for="inputPassword" class="col-sm-2 col-form-label">密碼</label>
			<div class="col-sm-10">
				<input type="password" readonly class="form-control-plaintext" id="inputPassword" v-model="password">
			</div>
		</div>

		<div class="mb-3 row">
			<label for="inputName" class="col-sm-2 col-form-label">名字</label>
			<div class="col-sm-10">
				<input type="text" readonly class="form-control-plaintext" id="inputName" v-model="name">
			</div>
		</div>

		<div class="mb-3 row">
			<label for="inputGender" class="col-sm-2 col-form-label">性別</label>
			<div class="col-sm-10">
				<input type="text" readonly class="form-control-plaintext" id="inputGender" v-model="gender">
			</div>
		</div>

		<div class="mb-3 row">
			<label for="inputBirthDate" class="col-sm-2 col-form-label">生日</label>
			<div class="col-sm-10">
				<input type="text" readonly class="form-control-plaintext" id="inputBirthDate" v-model="birthDate">
			</div>
		</div>

		<div class="mb-3 row">
			<label for="inputEmail" class="col-sm-2 col-form-label">郵件</label>
			<div class="col-sm-10">
				<input type="text" readonly class="form-control-plaintext" id="inputEmail" v-model="email">
			</div>
		</div>

		<div class="mb-3 row">
			<label for="staticPhone" class="col-sm-2 col-form-label">手機</label>
			<div class="col-sm-10">
				<input type="text" readonly class="form-control-plaintext" id="staticPhone" v-model="phone">
			</div>
		</div>

		<div class="mb-3 row">
			<label for="staticRole" class="col-sm-2 col-form-label">身分</label>
			<div class="col-sm-10">
				<input type="text" readonly class="form-control-plaintext" id="staticRole" v-model="role">
			</div>
		</div>

		<div class="mb-3 row">
			<label for="staticRegisterDate" class="col-sm-2 col-form-label">帳號創辦時間</label>
			<div class="col-sm-10">
				<input type="text" readonly class="form-control-plaintext" id="staticRegisterDate" v-model="registerDate">
			</div>
		</div>
		<div class="col-sm-3">
			<button type="button" class="btn btn-outline-info" @@click="editUsers">編輯</button>
		</div>
	</template>
	@*編輯中的頁面*@
	<template v-else>
		<div class="mb-3 row">
			<label for="staticAccount" class="col-sm-2 col-form-label">帳號</label>
			<div class="col-sm-6">
				<input type="text" readonly class="form-control-plaintext" id="staticAccount" v-model="account">
			</div>
		</div>

		<div class="mb-3 row">
			<label for="inputPassword" class="col-sm-2 col-form-label">密碼</label>
			<div class="col-sm-10">
				<input type="text" class="form-control" id="inputPassword" v-model="password">
			</div>
		</div>

		<div class="mb-3 row">
			<label for="inputName" class="col-sm-2 col-form-label">名字</label>
			<div class="col-sm-10">
				<input type="text" class="form-control" id="inputName" v-model="name">
			</div>
		</div>

		<div class="mb-3 row">
			<label for="inputGender" class="col-sm-2 col-form-label">性別</label>
			<div class="col-sm-10">
				<input type="text" class="form-control" id="inputGender" v-model="gender">
			</div>
		</div>

		<div class="mb-3 row">
			<label for="inputBirthDate" class="col-sm-2 col-form-label">生日</label>
			<div class="col-sm-10">
				<input type="text" class="form-control" id="inputBirthDate" v-model="birthDate">
			</div>
		</div>

		<div class="mb-3 row">
			<label for="inputEmail" class="col-sm-2 col-form-label">郵件</label>
			<div class="col-sm-10">
				<input type="text" class="form-control" id="inputEmail" v-model="email">
			</div>
		</div>

		<div class="mb-3 row">
			<label for="staticPhone" class="col-sm-2 col-form-label">手機</label>
			<div class="col-sm-6">
				<input type="text" readonly class="form-control-plaintext" id="staticPhone" v-model="phone">
			</div>
		</div>

		<div class="mb-3 row">
			<label for="staticRole" class="col-sm-2 col-form-label">身分</label>
			<div class="col-sm-6">
				<input type="text" readonly class="form-control-plaintext" id="staticRole" v-model="role">
			</div>
		</div>

		<div class="mb-3 row">
			<label for="staticRegisterDate" class="col-sm-2 col-form-label">帳號創辦時間</label>
			<div class="col-sm-6">
				<input type="text" readonly class="form-control-plaintext" id="staticRegisterDate" v-model="registerDate">
			</div>
		</div>
		<div class="row">
			<div class="col-sm-3">
				<button type="button" class="btn btn-outline-success" @@click="updateUsers">完成</button>
			</div>
			<div class="col-sm-3">
				<button type="button" class="btn btn-outline-danger" data-toggle="modal" data-target="#cancelModal">取消</button>
				<div class="modal fade" id="cancelModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
					<div class="modal-dialog">
						<div class="modal-content">
							<div class="modal-header">
								<h5 class="modal-title" id="exampleModalLabel">取消變更</h5>
								<button type="button" class="close" data-dismiss="modal" aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
							</div>
							<div class="modal-body">您確定要取消所有變更內容?</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-secondary" data-dismiss="modal">返回</button>
								<button type="button" class="btn btn-danger" data-dismiss="modal" @@click="cancel">確定</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</template>
</div>

<script src="https://cdn.jsdelivr.net/npm/vue@2.7.14"></script>
<script src="~/axios/axios.min.js"></script>
<script>
	var baseAddress = "https://localhost:7033/User";
	var vueApp = new Vue({
		el: '#app',
		data: {
			Users: [],
			account: "",
			password: "",
			name: "",
			gender: "",
			birthDate: "",
			email: "",
			phone: "",
			role: "",
			registerDate: "",
			picture: "",
			uploadPic: {},
			address: "",
			Edit: false
		},
		mounted: function () {
			this.getUsers();
		},
		methods: {
			getUsers: function (account) {
				//alert("getUsers")
				axios.get(`${baseAddress}/GetAccount`).then(response => {
					//alert(JSON.stringify(response.data));
					this.Users = response.data;
					this.account = this.Users[0].account;
					this.password = this.Users[0].password;
					this.name = this.Users[0].name;
					this.gender = this.Users[0].gender;
					this.birthDate = this.Users[0].birthDate;
					this.email = this.Users[0].email;
					this.phone = this.Users[0].phone;
					this.role = this.Users[0].role;
					this.registerDate = this.Users[0].registerDate;
					this.address = window.location.protocol + '//' + window.location.host + '/';
					this.picture = this.address + this.Users[0].picture
				});
			},
			updateUsers: function () {
				var request = {
					Account: this.Users[0].account,
					Password: this.password,
					Name: this.name,
					Gender: this.gender,
					BirthDate: this.birthDate,
					Email: this.email,
					Phone: this.Users[0].phone,
					Role: this.Users[0].role,
					RegisterDate: this.Users[0].registerDate
				};
				axios.post(`${baseAddress}/UpdateAccount`, request).then(response => {
					alert('更新成功!')
					this.getUsers();
					this.Edit = false;
				});
			},
			editUsers: function () {
				this.Edit = true;
			},
			cancel: function () {
				this.Edit = false;
				this.getUsers();
			},
			selectpicture: function (evemt) {
				var _this = this;
				_this.uploadPic = event.target.files[0];
				var reader = new FileReader();
				reader.onload = function (e) {
					_this.picture = e.target.result;
				}
				reader.readAsDataURL(_this.uploadPic);
			},
			uploadpicture: function () {
				var formdata = new FormData();
				formdata.append('Account', this.account);
				formdata.append('Picture', this.uploadPic);
				axios.post(`${baseAddress}/UploadPicture`, formdata).then(response => {
					if (response.data) {
						alert('上傳成功!')
					}
				});
			}
		}
	});
</script>


