@model Shocker_Project.ViewModels.UserViewModel
@section Styles
	{
	<style>
		thead {
			background-color: pink;
			color: mediumvioletred;
		}
	</style>
}


<div class="container">
	<div class="row">
		<div class="col">
			<h2>信用卡/金融卡</h2>
			<button type="button" class="btn btn-info">增加卡片</button>
		</div>
	</div>
	<div class="card">
		<h5 class="card-header">VISA</h5>
		<span class="badge bg-success">預設</span>
		<div class="card-body">
			<h5 class="card-title">卡號</h5>
			<p class="card-text">**** **** **** 8787</p>
			<button type="button" class="btn btn-success">設定為預設</button>
			<button type="button" class="btn btn-danger">刪除</button>
		</div>
	</div>
</div>

<div class="container">
	<div class="row">
		<div class="col">
			<h2>銀行帳號</h2>
			<button type="button" class="btn btn-info">增加帳號</button>
		</div>
	</div>
	<div class="card">
		<h5 class="card-header">中華郵政</h5>
		<span class="badge bg-primary">已驗證</span>
		<div class="card-body">
			<h5 class="card-title">全名:</h5>
			<p class="card-text">楊江坡</p>
			<h5 class="card-title">分行:</h5>
			<p class="card-text">AAA分行</p>
			<h5 class="card-title">帳戶:</h5>
			<p class="card-text">*** 1234</p>
			<button type="button" class="btn btn-success">設定為預設</button>
			<button type="button" class="btn btn-danger">刪除</button>
		</div>
	</div>
	<div class="card">
		<h5 class="card-header">花旗銀行</h5>
		<span class="badge bg-success">預設</span>
		<span class="badge bg-primary">已驗證</span>
		<div class="card-body">
			<h5 class="card-title">全名:</h5>
			<p class="card-text">琪琪女神</p>
			<h5 class="card-title">分行:</h5>
			<p class="card-text">BBB分行</p>
			<h5 class="card-title">帳戶:</h5>
			<p class="card-text">*** 5678</p>
			<button type="button" class="btn btn-success">設定為預設</button>
			<button type="button" class="btn btn-danger">刪除</button>
		</div>
	</div>
	<div class="card">
		<h5 class="card-header">渣打銀行</h5>
		<span class="badge bg-primary">已驗證</span>
		<div class="card-body">
			<h5 class="card-title">全名:</h5>
			<p class="card-text">周晉年</p>
			<h5 class="card-title">分行:</h5>
			<p class="card-text">CCC分行</p>
			<h5 class="card-title">帳戶:</h5>
			<p class="card-text">*** 9876</p>
			<button type="button" class="btn btn-success">設定為預設</button>
			<button type="button" class="btn btn-danger">刪除</button>
		</div>
	</div>
</div>
