@section Styles
{
}

<div id="app" class="container">
	<div class="form-group">
		<table class="table table-hover table table-striped">
			<thead>
				<tr>
					<th scope="col">查看詳情</th>
					<th scope="col">商品名稱</th>					
					<th scope="col">訂單狀態</th>
					<th scope="col">付款方式</th>
					<th scope="col">訂單總額</th>
				</tr>
			</thead>
			<tbody>
				<tr v-for="(item,index) in Orders">
					<td scope="row">
						<!-- Button trigger modal -->
						<a button type="button" class="btn btn-outline-primary" :href="'/User/UserOrderDetails?id='+item.orderId">訂單詳情頁面</a>				
						<button type="button" class="btn btn-outline-primary" data-toggle="modal" data-target="#exampleModal">
							訂單詳情
						</button>
						<!-- Modal -->
						<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
							<div class="modal-dialog">
								<div class="modal-content">
									<div class="modal-header">
										<h5 class="modal-title" id="exampleModalLabel">訂單編號{{item.orderId}}</h5>
										<button type="button" class="close" data-dismiss="modal" aria-label="Close">
											<span aria-hidden="true">&times;</span>
										</button>
									</div>
									<div class="modal-body">
										<ul>
											<li>購買帳戶:{{item.buyerAccount}}</li>
											<li>收件地址:{{item.address}}</li>
											<li>電話:{{item.buyerPhone}}</li>
											<li>下單時間:{{item.orderDate}}</li>
											<li v-for="(productName, index) in item.productName">商品名稱:{{productName}}||數量:{{item.quantity[index]}}||取貨狀態:{{item.statusName}}</li>
											<li>領貨時間:{{item.arrivalDate}}</li>
											<li>付款方式:{{item.payMethod}}</li>
										</ul>
										@*useless:
										productId
										productCategoryId
										sellerAccount
										categoryName
										*@																			
									</div>
									<div class="modal-footer">
										<button type="button" class="btn btn-secondary" data-dismiss="modal">確認</button>
									</div>
								</div>
							</div>
						</div>
					</td>
					<td>{{item.productName.join(',')}}</td>					
					<td>{{item.statusName}}
						<template v-if="item.statusName=='未出貨'">
							<button type="button" class="btn btn-outline-danger" data-toggle="modal" data-target="#cancelordersModal">取消訂單</button>
							<div class="modal fade" id="cancelordersModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
											<div class="modal-dialog">
												<div class="modal-content">
													<div class="modal-header">
														<h5 class="modal-title" id="exampleModalLabel">取消訂單</h5>
														<button type="button" class="close" data-dismiss="modal" aria-label="Close">
															<span aria-hidden="true">&times;</span>
														</button>
													</div>
													<div class="form-group">
														<label for="exampleFormControlTextarea1">您確定要取消{{item.orderId}}訂單?裡面總共有{{item.productName.join(',')}}等品項</label>														
													</div>
													<div class="modal-footer">
														<button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
														<button type="button" class="btn btn-danger" data-dismiss="modal" @@click="cancelOrders(item.orderId)">確定</button>
													</div>
												</div>
											</div>
										</div>
						</template>
					</td>
					<td>{{item.payMethod}}</td>
					<td>{{totalPrice[index]}}</td>
				</tr>
			</tbody>
		</table>		
	</div>
</div>

<script src="https://cdn.jsdelivr.net/npm/vue@2.7.14"></script>
<script src="~/axios/axios.min.js"></script>
<script>
	var baseAddress = "https://localhost:7033/User";
	var Vue = new Vue({
		el: '#app',
		data: {
			Orders: [],
			//buyerAccount: "",
			//address: "",
			//orderDate: "",
			//arrivalDate: "",
			//buyerPhone: "",
			//payMethod: "",
			//quantity: "",
			//status: "",
			//sellerAccount: "",
			//productName: "",
			//unitPrice: "",
			//categoryName: "",
			//starCount:"",
			totalPrice:[]
		},
		mounted: function () {
			this.getOrders();
		},
		methods:{
			getOrders:function(){
				alert('getOrders')
				axios.get(`${baseAddress}/GetOrders`).then(response=>{
					alert(JSON.stringify(response.data));
					this.Orders=response.data;
					var value = 0;
					for(var i=0;i<this.Orders.length;i++){
						value = 0;
						for (var j = 0; j < this.Orders[i].quantity.length; j++){
							value+=this.Orders[i].quantity[j] * this.Orders[i].unitPrice[j];						
						}
						this.totalPrice.push(value)
					}
				});
			},
			cancelOrders:function(orderId){
				var request={
					OrderID:orderId,
				}
				axios.post(`${baseAddress}/CancelOrders`,request).then(reponse=>{
					alert('取消訂單成功');
					this.getOrders();
				});			
			},			
		}
		//window.location.href="/controller/action/?orderId=19"
		//		window.location.href.search ="orderId = 19" 
	});
</script>						