@model Shocker_Project.ViewModels.UserViewModel
@section Styles
	{
	<style>
		thead {
			background-color: pink;
			color: mediumvioletred;
		}
	</style>
}

<div id="app">
	<div class="form-group">
		<table class="table table-hover table table-striped">
			<thead>
				<tr>
					<td scope="col">#</th>
					<td scope="col">商品名稱</th>
					<td scope="col">訂單金額</th>
					<td scope="col">訂單狀態</th>
					<td scope="col">已評價</th>
				</tr>
			</thead>
			<tbody>
				<tr v-for="item in Orders">
					<td scope="row">1</td>
					<td v-model="item.productName"></td>
					<td v-model="item.price"(price:"quantity*unitPrice")>Otto</td>
					<td v-model="item.status">mdo</td>
					<td v-model="item.starCount">mdo</td>
				</tr>
				@*<tr>
					<td scope="row">2</td>
					<td>Jacob</td>
					<td>Thornton</td>
					<td>fat</td>
					<td>mdo</td>
				</tr>
				<tr>
					<td scope="row">3</td>
					<td>Larry the Bird</td>
					<td>twitter</td>
					<td>mdo</td>
					<td>mdo</td>
				</tr>*@
			</tbody>
		</table>
	</div>
</div>

<script src="https://cdn.jsdelivr.net/npm/vue@2.7.14"></script>
<script src="~/axios/axios.min.js"></script>
<script>
	var baseAddress = "https://localhost:7033/User";
	var Vue = new Vue({
		el: '#app',
		data: {
			Orders: [],
			buyerAccount: "",
			address: "",
			orderDate: "",
			requiredDate: "",
			buyerPhone: "",
			payMethod: "",
			quantity: "",
			status: "",
			sellerAccount: "",
			productName: "",
			unitPrice: "",
			categoryName: "",
			starCount:""
		},
		mounted: function () {
			this.getOrders();
		},
		methods:function(){
			getOrders:function(){

			}
		}
</script>
