<!DOCTYPE html>
<html lang="en">
<head>
    
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

</head>
<body>
   
       <form action="" method="post">

        <label for="QAclass">問題類別</label>
            <select class="QAclass">
                <option selected >請選擇您的問題種類</option>
                <option value="Pay">付款問題</option>
                <option value="RetuenMoney">退款問題</option>
                <option value="ChangeAdress">更改出貨地址</option>
                <option value="TheOther">其他類別</option>
            </select>

          
                <label for="CustomerTA">請詳細敘述問題:</label>
            
            <textarea name="#" id="CustomerTA" cols="30" rows="10" placeholder="請在此輸入問題並送出"></textarea>
            <button type="submit" name="submit">送出</button>
        </form>
   
</body>
</html>