<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>常見問題</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <style>
        accordion-body {
            font-size: 9px;
        }

        .collapsed {
            font-size: 20px;
            color: bisque;
            background-color: #2a9d9a;
        }

        ol > li {
            font-size: 2px;
        }
    </style>
</head>
<body>
    <div class="accordion accordion-flush" id="accordionFlushExample">
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                    可以向誰諮詢運送問題?
                </button>
            </h2>
            <div id="flush-collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">
                    <p>如要與 Google 物流團隊聯絡，請傳送電子郵件至 Tibame@google.com</p>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                    退換貨說明
                </button>
            </h2>
            <div id="flush-collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">

                    <p>請您收到商品後【七日】內如有退換貨需求請MAIL至Tibame@gmail.com，或使用客服聯繫留言給我們</p>
                    <p>依照消費者保護法規定，線上購物消費者均享有7天鑑賞期之權益(鑑賞期非試用期等)</p>
                    <p>全館商品如屬個人衛生產品類，故一經拆封使用即不適用7天鑑賞期且無法退換貨。>
                    <p>退貨前請與我們連絡並提供照片我們將協助您辦理退貨事宜。</p>
                    <br>
                    <p>鑑賞期</p>
                    <p>依消費者保護法規定，賽斯黛瑪將提供您享有商品到貨七天猶豫期隨時解約退貨之權益。</p>
                    <p>鑑賞期非試用期，超過鑑賞期者將不受理退貨服務。</p>
                    <p>即期商品不適用此規定。</p>
                    <br>
                    <p>提醒您</p>
                    <p>退回商品必須是全新狀態且未使用並保持包裝完整，否則恕不接受退換貨。</p>
                    <p>若商品因消費者個人不當使用拆卸產生人為因素造成</p>
                    <p>故障、毀損、磨損、擦傷、刮傷、髒污、包裝破損不完整者，或是配件、贈品不齊者，恕不接受退貨。</p>
                    <p>只要您符合下述條件其中一項就可以無條件退貨：</p>
                    <p>實際收到的商品與所訂購商品不符合</p>
                    <p>產品包裝內配件不齊全或商品規格與外包裝說明不符合</p>
                    <p>商品有瑕疵或於運送過程中有重大損壞者</p>
                    <p></p>
                    <p></p>

                    <ol class="olfont">
                        <li>快閃活動、特惠組合、加購商品皆為特殊優惠，僅供退貨不供換貨。(計算方式以原價為準)</li>
                        <li>收到產品時請立即檢查產品，若發現產品品項不正確或有瑕疵請立即拍照存證並使用訂單備註與我們聯繫，FB小編亦可，以便更換， 貨物瑕疵處理限【10天】內提出，沒有購買發票或者逾期恕不處理。</li>
                        <li>若因個人因素造成多次退貨紀錄，為維護雙方權益以及避免過多的資源浪費，我方將拒絕接受再次訂購。</li>
                        <li>退換貨處理僅限於【此官方網站】購買之客戶，並查詢有訂單購買紀錄之客戶需提供發票寄回。</li>
                    </ol>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                    付款方式與退款處理流程
                </button>
            </h2>
            <div id="flush-collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">

                    <p>刷卡付款：</p>
                    <p>寄回退貨商品檢查沒有問題後，將於7~14個工作天內（不包含例假日）內完成刷退，但因各刷卡行結帳日不同之關係，實際入帳入還請洽詢您的銀行。</p>
                    <p>付款方式：</p>
                    <p>目前提供「線上刷卡」與「貨到付款」兩種方式。</p>
                    <p>線上刷卡：</p>
                    <p>至訂單處理系統，確認您的訂單內容無誤後，點選"選擇付款方式"，再選取"線上刷卡"，再按照步驟填寫資料。當您在結帳頁面進行信用卡相關資料填寫時，請務必詳實填寫正確資料，以利銀行做信用卡資料的審核。線上刷卡的資料傳輸均採用SSL憑證加密，有效保護您的資料安全。</p>

                </div>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
</body>
</html>