
<title>購物車</title>
<!-- font-awesome -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
<!-- bootstrap.css -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.3/css/bootstrap.min.css">
<!-- style.css -->
@*<link rel="stylesheet" href="./css/style.css">*@
<link href="~/css/chuyi/style.min.css" rel="stylesheet" />
@*</head>*@

@*<body>*@
<!-- navbar -->
<nav class="navbar navbar-expand-sm navbar-light bg-light fixed-top">
    <a class="navbar-brand" href="/">

    </a>
    <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId"
            aria-controls="collapsibleNavId" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavId">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a id="navLinkItem" class="nav-link" href="#cartModal" data-toggle="modal">
                    <i class="fas fa-shopping-cart"></i>
                    購物車
                    <div id="cartNumber">0</div>

                </a>
            </li>
        </ul>
    </div>
</nav>
<!-- navbar end -->
<!-- header -->
<div id="header" class="jumbotron">
    <div class="container">
        <h1> 購物車</h1>
    </div>
</div>
<!-- header end -->
<!-- productSection -->
<section id="productSection" class="py-5">
    <div class="container">
        <h1 class="text-center mb-5">產品列表</h1>
        <div id="productRow" class="row"></div>
    </div>
</section>
<!-- productSection end -->
<!-- footer -->
<footer class="py-3">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8 text-center">
                <p class="mb-1">JavaScript Shopping Cart</p>
                <p class="mb-0">2020 &copy;</p>
            </div>
        </div>
    </div>
</footer>
<!-- footer end -->
<!-- modal -->
<div class="modal fade" id="cartModal" tabindex="-1" role="dialog" aria-labelledby="cartModal" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">
                    <i class="fas fa-shopping-cart"></i> 購物車
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <table class="table table-border">
                    <thead>
                        <tr>
                            <th>產品名稱</th>
                            <th class="text-right">單價</th>
                            <th class="text-right">數量</th>
                            <th class="text-right">總計</th>
                        </tr>
                    </thead>
                    <tbody id="cartTableBody"></tbody>
                    <tfoot id="cartTableFoot"></tfoot>
                </table>
            </div>
            <div class="modal-footer">
                <button id="clearCartBtn" type="button" class="btn btn-danger">
                    <i class="fas fa-trash-alt"></i> 清空購物車
                </button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">
                    <i class="fas fa-times"></i> 關閉
                </button>
                <button id="Pay" type="button" class="btn btn-primary">
                    <a asp-area="Shoppingcart" asp-controller="ShoppingCartProducts" asp-action="ShoppingCart"></a><i class="fas fa-credit-card"></i> 結帳
                </button>
            </div>
        </div>
    </div>
</div>


<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<!-- popper.js -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<!-- bootstrap.js -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>


    <script src="~/js/chuyi/cart.min.js"></script>



