@model IEnumerable<Shocker_Project.Models.PrViewModel>


@{
    ViewBag.Title = "產品列表";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row" style="margin-top:20px;">
    @foreach (var item in Model)
    {
        <div class="col-md-4">
            <div class="thumbnail">
                <img src="~/img/cart/cart-1.jpg/@item.PictureId" />
                <div class="caption">
                    <h4>@item.ProductName</h4>
                    <p>單價:@item.UnitPrice</p>
                    <p><a href="@Url.Action("AddCar","ShoppingCart")?ProductId=@item.ProductId" class="btn btn-primary">加入購物車</a></p>
                </div>
            </div>
        </div>
    }
      
</div>
